/* add your CSS here */
.container {
	border:1px solid #666;
	width: 320px;
	padding:  10px 20px;
	box-shadow: 5px 5px 1px #ddd;

}
.firstpara {
	font-style: italic;

}
ul {
	list-style-type: none;
	padding: 5px 10px ;
	
}
ul li span {
	font-weight: bold;}

.information {
	border:1px solid #666;
	width: 280px;
	padding-left: 20px;
	margin-top: 10px;
}